{% extends 'master.html' %}


{% block content %}

    <h1>Books Catalogue</h1>
    <div class="row mt-5" style="text-align: left">
        <div class="col">
            <a href="{% url 'add_book' %}"><button class="btn btn-primary">Dodaj</button></a>
        </div>
    </div>
    <table class="table table-hover table-primary mt-2">
    <thead>
        <tr>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Publish Year</th>
        <th scope="col">Supplies</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        
            <tr>
                <th scope="row">
                    <a href="{% url 'book' book.id %}">{{book.title}}</a>
                </th>
                <td>{{book.author}}</td>
                <td>{{book.publish_year}}</td>
                <td>{{book.br_komada}}</td>
            </tr>
        
        {% endfor %}
    </tbody>
    </table>

{% endblock content %}

