{% extends 'master.html' %}

{% block content %}

    <div class="row justify-content-center text-left">
        <div class="col-6">
            <form action="{% url 'edit_book' book.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.br_komada.id_for_label }}">{{ form.br_komada.label_tag }}</label>
                    <input type="text" class="form-control" id="{{ form.br_komada.id_for_label }}" name="{{ form.br_komada.name }}">
                    {% if form.br_komada.errors %}
                        <div class="alert alert-danger">
                            <ul style="text-align: left">
                                {% for error in form.br_komada.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
                <input type="submit" class="btn btn-primary btn-lg" value="Submit"/>
            </form>
        </div>
    </div>

{% endblock %}