{% extends 'master.html' %}


{% block content %}

    <h1>Current Loans</h1>
    <div class="row mt-5" style="text-align: left">
        <div class="col">
            <a href="{% url 'add_loan' %}"><button class="btn btn-primary">Dodaj</button></a>
        </div>
    </div>
    <table class="table table-hover table-primary mt-2">
    <thead>
        <tr>
        <th scope="col">Book</th>
        <th scope="col">Member</th>
        <th scope="col">Start date</th>
        <th scope="col">Due date</th>
        <th scope="col">Return book</th>
        </tr>
    </thead>
    <tbody>
        {% for loan in loans %}
        
            <tr>
                <th scope="row">{{loan.book.title}}</th>
                <td>{{loan.member.email}}</td>
                <td>{{loan.start_date}}</td>
                <td>{{loan.due_date}}</td>
                <td>
                    <form action="{% url 'return_book' loan.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-warning">Return</button>
                    </form>
                </td>
            </tr>
        
        {% endfor %}
    </tbody>
    </table>



{% endblock content %}